html{
    margin: 0;
}

body{
    margin: 0;
}

p,.row1,.row2,.row3,.submitButton{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
}



input:focus {
	border: 2px solid cornflowerblue;
    outline: none;
}






@font-face {
    font-family: skyrim;
    src: url(Balgruf-JRye7.ttf);
}

.pageContainer{
    --image-width: 30vw; 
    --signUp-width: 50vw;
    --overallHeight: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--overallHeight);
    width: 100vw;
}

.signUp{
    display: flex;
    flex-direction: column;
    height: var(--overallHeight);
    width: var(--signUp-width);
    border-left: 2px solid black;
}



.image{
    position: relative;
    display: flex;
    height: var(--overallHeight);
    width: 100%;
}

.logo{
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    height: 10vh;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.logoText{
    text-align: center;
    font-family: skyrim;
    color: white;
    font-size: 30px;
    opacity: 100%;
}

.header,.footer{
   
    width: var(--signUp-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5
    ;
}

.footer{
    height: 30vh;
}

.header{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35vh;
}

.blackBar{
    height: 100vh;
    width: 100vh;
    background-color: black;
}



.form{
    height: 35vh;
    width: var(--signUp-width);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 20px 20px;
    
    
    
}

.row1,.row2,.row3{
    gap: 160px;
    display: flex;
    padding: 5px;
    font-size: 14px;
}

.firstName label,.lastName label,.email label,.phone label,.password label,.confirmPassword label{
    display: block;
}

.submitButton{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: #555555;
    color: white;
}

.passwords{
    display: flex;
    gap: 160px;
}

.passwordWrong{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}